*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.jar
*.war
*.ear

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

# .idea IDE-specific folder
.idea/

# target folder for maven dependencies and compilation
target/

# META-INF folder used in local jar packaging
src/main/resources/META-INF/

# sensitive database authentication information
src/main/resources/dbi.cfg

# installation-specific data folder
data/